/* Page and Browser standards */

:root {
  font-size: 16px;

  /* Colors */

  --primary-color: rgb(6, 117, 206);
  --blue--light: rgb(178, 235, 242);
  --blue--regular: rgb(6, 117, 206);
  --blue--dark: rgb(15, 76, 117);
  --gray--light: rgb(88, 99, 109);
  --red--regular: rgb(244, 67, 54);
  --deep-orange--regular: rgb(255, 112, 67);
  --deep-orange--dark: rgb(230, 74, 25);

  /* Constants */

  --hero-image-height: 240px;
  --hero-image-width: 180px;
  --event-photo-height: 180px;
  --event-photo-width: 320px;
  --landscape-image-height: 180px;
  --landscape-image-width: 240px;
  --box-shadow: 0 0px 5.3px rgba(0, 0, 0, 0.02), 0 0px 17.9px rgba(0, 0, 0, 0.036), 0 0px 80px rgba(0, 0, 0, 0.07);
  --box-shadow--hover: 0 5.2px 2.2px rgba(0, 0, 0, 0.02), 0 12.5px 5.3px rgba(0, 0, 0, 0.028),
    0 23.5px 10px rgba(0, 0, 0, 0.035), 0 42px 17.9px rgba(0, 0, 0, 0.042), 0 78.5px 33.4px rgba(0, 0, 0, 0.05),
    0 188px 80px rgba(0, 0, 0, 0.07);
}

html {
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
}

body {
  max-width: 1280px;
  width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
}

p {
  margin: 0;
}

/* Keyframes */

@keyframes slide-in {
  from {
    transform: translateY(4px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  70% {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Header */

.events__header {
  margin: 0 2rem;
}

/* Header > Navigation */

.events__navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Header > Navigation > General */

.navigation__list {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.navigation__list-item--active::after,
.navigation__list-item:not(:first-child):hover::after {
  position: absolute;
  width: calc(100% - 1rem);
  height: 4px;
  bottom: 0;
  left: 0.5rem;
  content: 'bottom bar';
  color: rgba(0, 0, 0, 0);
  background-color: var(--primary-color);
  animation: slide-in 0.2s ease-out;
}

.navigation__link {
  text-decoration: none;
  color: var(--gray--light);
  transition: border 0.2s ease-out;
  white-space: nowrap;
}

.navigation__list-item:not(:last-child) {
  margin-right: 0.5rem;
}

.navigation__list-item.platform-list__company-logo-item {
  margin-right: 1rem;
}

/* Header > Navigation > .profile-list */

.profile-list__profile-image-item {
  max-height: 2rem;
  width: 2rem;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.profile-list__profile-image {
  height: 100%;
  min-width: 2rem;
  min-height: 2rem;
}

/* Main > .content__loader */

.content__loader {
  display: none;
}

.content__loader--enabled {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 480px;
}

.content__loader-icon {
  animation: spin 2s infinite;
}

/* Main > .event-list */

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.event-list--loading {
  display: none;
}

/* Main > .event-card */

.event-card {
  min-height: 280px;
  max-height: 280px;
  max-width: calc(50% - 16px);
  padding: 16px 32px;
  margin-top: 32px;
  border-radius: 6px;
  position: relative;
  overflow: visible;
  cursor: pointer;
  transition: box-shadow 0.2s ease-out, transform 0.1s ease-out;
  box-shadow: var(--box-shadow);
  box-sizing: border-box;

  --image-border-radius: 12px;
}

.event-card--leap,
.event-card--recruiting-mission,
.event-card--vanhackathon {
  width: 100%;
  margin-right: 0;
  max-width: unset;
}

.event-card--leap .event-card__header,
.event-card--recruiting-mission .event-card__header,
.event-card--vanhackathon .event-card__header {
  font-size: 1rem;
}

.event-card--premium-webinar {
  transition: box-shadow 0.2s ease-out, transform 0.1s ease-out, background 0.1s ease-out;
}

.event-card--outgoing-application {
  overflow: hidden;
}

.event-card:hover {
  box-shadow: var(--box-shadow--hover);
  transform: scale(1.02);
}

/* Main > .event-card > Sharing */

.card-header__subtitle-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 20px;
}

.event-card__twitter-button {
  text-decoration: none;
  color: var(--blue--dark);
  border: 1px solid var(--blue--dark);
  padding: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.event-card__twitter-button-icon {
  margin-right: 4px;
  height: 1rem;
}

/* Main > .event-card > Images */

.event-card__hero-image-wrapper {
  width: var(--hero-image-width);
  height: var(--hero-image-height);
  position: absolute;
  left: 32px;
  top: -64px;
  border-radius: var(--image-border-radius);
  overflow: hidden;
}

.event-card__hero-image {
  width: 100%;
  border-radius: var(--image-border-radius);
}

.event-card__landscape-image-wrapper {
  max-width: 40%;
  max-height: var(--landscape-image-height);
  position: absolute;
  right: 32px;
  bottom: -15%;
  overflow: hidden;
  border-radius: var(--image-border-radius);
}

.event-card__landscape-image {
  width: 100%;
  border-radius: var(--image-border-radius);
}

.event-card--with-landscape-image.event-card--distinctive + .event-card,
.event-card--with-landscape-image + * + .event-card--with-hero-image,
.event-card--with-landscape-image:not(.event-card--toggled) + * + .event-card--distinctive {
  margin-top: 0;
}

.event-card--with-hero-image {
  margin-top: 96px;
}

.event-card--with-landscape-image {
  margin-bottom: 96px;
}

.event-photos {
  margin-top: 2rem;
}

.event-card__event-photos {
  display: flex;
  min-width: calc(100% + 8rem);
  position: relative;
  margin-left: -4rem;
  overflow: auto;
  display: flex;
}

.event-photos__image {
  display: none;
  border-radius: var(--image-border-radius);
  margin: 0 1rem 1rem 0;
  transition: filter 0.1s ease-out;
  width: var(--event-photo-width);
  height: var(--event-photo-height);
}

/* Main > .event-card > Video */

.event-card__video-container {
  position: absolute;
  z-index: -5;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}

.event-card__iframe-wrapper {
  height: 200%;
  width: 200%;
  left: -50%;
  top: -50%;
  position: absolute;
  z-index: -5;
}

.event-card__video-container::before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: 'video container';
  color: rgba(0, 0, 0, 0);
  background: rgba(255, 255, 255, 0.8);
}

.event-card__video-container iframe {
  height: 100%;
  width: 100%;
}
/* Main > .event-card > .card-header */

.event-card--with-hero-image .event-card__header,
.event-card--with-hero-image .event-card__tab-container {
  margin-left: calc(var(--hero-image-width) + 32px);
}

.event-card__header {
  display: flex;
  flex-direction: column;
  font-size: 0.66rem;
}

.card-header__subtitle {
  font-size: 1.2em;
  font-weight: 400;
  color: var(--primary-color);
}

.card-header__title {
  font-size: 3em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Main > .event-card > .card-header > .card-header__button-container*/

.card-header__button-container {
  display: none;
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.card-header__button {
  height: 3rem;
  width: 6rem;
  font-size: 1.33rem;
  color: white;
  border-radius: 6px;
  padding: unset;
  cursor: pointer;
  transition: transform 0.1s ease-out;
  border: unset;
}

.event-card--applied .event-card__apply-button,
.event-card--applied .event-card__cancel-button {
  display: none;
}

.event-card__apply-button {
  background: linear-gradient(90deg, rgba(6, 117, 206, 1) 0%, rgba(15, 76, 117, 1) 100%);
  margin-right: 0.5rem;
}

.event-card__cancel-button {
  background: none;
  color: var(--red--regular);
  display: none;
}

.event-card--applying .event-card__cancel-button {
  display: inline;
}

.event-card__applied-button {
  display: none;
  cursor: default;
  width: 9rem;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(129, 199, 132, 1) 0%, rgba(56, 142, 60, 1) 100%);
}

.event-card--applied .event-card__applied-button {
  display: flex;
}

.event-card__applied-button-icon {
  margin-left: 1rem;
}

/* Main > .event-card > Information */

.event-card__location-container,
.event-card__date-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.event-card__location-container > svg,
.event-card__date-container > svg {
  margin-right: 0.5rem;
}

.event-card__information-icon {
  color: var(--primary-color);
}

.event-card__location-icon {
  display: none;
}

.event-card__location--online .event-card__location-icon--online {
  display: block;
}

.event-card__location--physical .event-card__location-icon--physical {
  display: block;
}

.event-card__location-link {
  display: none;
  margin-left: 8px;
  font-size: 0.8rem;
  color: var(--primary-color);
}

.event-card__information {
  margin: 0.5rem 0;
}

.event-card__date-time {
  display: none;
  margin: 0.5rem 0.25rem;
}

/* Main > .event-card > Description */

.event-card__description {
  display: none;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.event-card__description h3 {
  margin: 16px 0 8px 0;
}

/* Main > .event-card--toggled */

.event-card--toggled {
  max-height: unset;
  box-shadow: var(--box-shadow--hover);
  transform: scale(1.02);
  margin-bottom: 32px;
  width: 100%;
  max-width: unset;
  cursor: unset;
}

.event-card--toggled .event-card__header {
  padding-right: 10rem;
}

.event-card--toggled .card-header__title {
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
}

/* .event-card--toggled.event-card--with-landscape-image {
  margin-bottom: 96px;
} */

.event-card--toggled .event-card__description {
  display: block;
}

.event-card--toggled .event-card__landscape-image-wrapper {
  display: none;
}

.event-card--toggled .event-photos__image {
  display: inline;
}

.event-card--toggled .event-card__location-link {
  display: unset;
}

.event-card--toggled .event-card__date-time {
  display: unset;
}

.event-card--toggled .event-card__twitter-button:hover {
  background-color: var(--blue--regular);
  color: var(--blue--light);
}

.event-card--toggled .card-header__button-container {
  display: block;
}

/* Main > .event-card > .event-card__tab-container */

.event-card__tab-container {
  overflow: hidden;
  display: flex;
  padding: 1rem 0;
}

.event-card__tab {
  min-width: 100%;
  position: relative;
  left: 0;
  transition: left 0.25s ease-out;
}

/* Main > .event-card > .event-card__tab-container > .event-card__content-tab */

.event-card--applying .event-card__content-tab {
  left: -150%;
  height: 0;
}

/* Main > .event-card > .event-card__tab-container > .event-card__application-form-tab */

.event-card--applying .event-card__application-form-tab {
  left: -100%;
}

/* Main > .event-card > .event-card__tab-container > .event-card__application-form-tab > .application-form */

.application-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.application-form__input-container {
  height: 4rem;
  width: 45%;
  position: relative;
  display: flex;
  align-items: center;
}

.application-form__input-wrapper {
  width: 70%;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--blue--regular);
  border-radius: 6px;
}

.application-form__input-wrapper--invalid {
  border-color: var(--red--regular);
}

.application-form__input-wrapper:focus {
  border-color: var(--blue--dark);
}

.application-form__label {
  position: relative;
  margin-right: 1rem;
  font-size: 1rem;
  white-space: nowrap;
}

.application-form__input {
  border: unset;
  font-size: 1.33rem;
  min-width: 0;
  border: 1px solid rgba(0, 0, 0, 0);
}

.application-form__error-message {
  display: none;
  color: var(--red--regular);
  white-space: nowrap;
}

.application-form__input-wrapper--invalid .application-form__error-message {
  display: inline;
}

/* Main > .event-card > .event-card__loader */

.event-card__loader {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
}

.event-card--outgoing-application .event-card__loader {
  display: flex;
}

/* .events__toast */

.events__toast {
  position: fixed;
  bottom: -150%;
  left: 2rem;
  transition: bottom 0.33s ease-out;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: white;
  font-size: 2rem;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.events__toast--shown {
  bottom: 2rem;
}

.events__toast--danger {
  background: var(--deep-orange--dark);
}

.toast__button {
  margin-left: 1rem;
  display: none;
}

.events__toast--with-link .toast__button {
  display: none;
}

.toast__link {
  display: none;
  padding: 0.25rem 0.5rem;
  color: white;
}

.events__toast--with-link .toast__link {
  display: inline;
}

/* Mid to Small Screens */

@media screen and (max-width: 1400px) {
  .event-card:not(.event-card--toggled) {
    margin-right: 1rem;
    max-width: calc(45vw - 16px);
  }

  .event-card.event-card--toggled {
    max-width: 90vw;
    max-height: unset;
  }

  .event-card.event-card--distinctive {
    max-width: 90vw;
  }

  .event-card__event-photos {
    margin-left: -4vw;
    min-width: calc(100vw - 4rem);
  }
}

/* Small Screens */

@media screen and (max-width: 720px) {
  :root {
    font-size: 12px;
    --hero-image-height: 180px;
    --hero-image-width: 120px;
    --landscape-image-height: 120px;
    --landscape-image-width: 180px;
    --event-photo-height: 120px;
    --event-photo-width: 180px;
  }

  .event-card {
    min-height: 180px;
    max-height: 180px;
  }

  .event-card:not(.event-card--toggled) {
    max-width: 80vw;
  }

  .event-card.event-card--distinctive {
    max-width: 90vw;
    border: 1px solid var(--primary-color);
  }

  .event-card.event-card--with-hero-image {
    margin-top: 4rem;
  }

  .event-card--with-landscape-image {
    margin-bottom: 2rem;
  }

  .event-card--with-landscape-image.event-card--distinctive + .event-card,
  .event-card--with-landscape-image + * + .event-card--with-hero-image,
  .event-card--with-landscape-image:not(.event-card--toggled) + * + .event-card--distinctive {
    margin-top: 4rem;
  }

  .event-card--toggled .event-card__header {
    padding-right: 4rem;
  }

  .card-header__title {
    font-size: 2em;
  }

  .event-photos {
    min-width: calc(100% + 4rem);
    margin-left: -2rem;
  }

  .event-card__applied-button {
    width: 4rem;
  }

  .event-card__applied-button-icon {
    margin-left: 0;
  }

  .event-card__applied-button-text {
    display: none;
  }

  .event-card__hero-image-wrapper {
    top: -32px;
  }
}
